* {
    font-family: hack;
}

body {
    font-size: 16px;
    margin: 0;
    background-color: #665;
}

header {
    background-color: #666;
    padding: 1.5em;
    text-align: center;
    font-size: 1.2em;
    color: bisque;
}

#board {
    border: 2px ridge bisque;
    margin: 10em auto;
    margin-top: 2.5em;
    width: 30em;
    height: 30em;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#turn {
    text-align: center;
    font-size: 2.0em;
    color: bisque;
    background-color: #664;
}

#board > * {
    display: flex;
    border: 2px solid bisque;
}

#board > div > img {
    flex: 0 0 50%;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    /* correct svg magic to bisque */
    filter: invert(80%) sepia(80%) saturate(50%);
}
